* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
    background-color: beige;
    font-family:  'Nunito Sans', sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
    background: url(./heppy.jpg) center center/cover no-repeat  #000;
    /* background-size: auto; */
    overflow: hidden;
    
}

h1 {
    line-height: 1.5;
    font-style: italic;
    font-family: inherit;
    text-shadow: rgb(190, 182, 57) 0.3rem 0 .3rem;
    color: azure;
    margin: 0;
    font-size: 7vw;
}

#date-cont {
    color: azure;
    display: flex;
    justify-content: center;
    line-height: 1rem;
}

#date-cont .date{
    text-shadow: rgb(29, 23, 1) 0 0 10px;
    margin-top: 10vw;
    font-size: 8vw;
}

#date-cont span {
    margin: 4vw;
    font-size: small;
}

.yl {
    color: rgb(224, 224, 89);
}
.gr {
    color: rgb(39, 124, 39);
}

.rd {
    color: rgb(199, 53, 53);
}

.bl {
    color: rgb(98, 98, 196);
}

@media (min-width: 756px) {
    .hide {
        visibility: hidden;
    }
}